
#section-1 {
    background-color: #F6F9FF;
    padding-bottom: 70px;
}

.section-1_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-info {
    padding-top: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 50px;
}

.intro-info p a:nth-child(1) {
    color: #1F565B;
    text-decoration: none;
    font-weight: 500;
}

.main-title {
    text-transform: uppercase;
    font-size: 23px;
    color: #235E62;
    padding-bottom: 20px;
}

.flexbox-1 {
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

.landscape-flower-img-2{
    border-radius: 10px;
    width: 500px;
}

.landscape-flower-img{
    width: 350px;
    border-radius: 10px;
}

.flexbox-2{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.mini-title-1 h4{
    margin-bottom: 20px;
 font-size: 18px;
 color:#235E62;
}

.mini-title-2 h4 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #235E62;
}

.mini-title-1{
    width: 500px;
}

.mini-title-1 p{
    font-size: 14px;
}

.mini-title-2{
    margin-top: 30px;
    width: 500px;
}

.mini-title-2 p {
    font-size: 14px;
}

.landscape-round{
    width: 100px;
    border-radius:50%;
}

.section-2-flexbox-1{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.mini-box-1{
    background-color: #b5e1e488;
    border-radius:10px;
    text-align: center;
    padding: 20px;
    width: 320px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card-img h4{
    margin-top: 20px;
    margin-left: 40px;
    width: 200px;
    font-size: 18px;
    color:#235E62;
    font-weight: bold;
}

.card-title p{
    margin-top: -20px;
    font-size: 14px;
}

.main-title-4{
    text-transform: uppercase;
        font-size: 23px;
        color: #235E62;
        padding-bottom: 6px;
        padding-top: 50px;
        text-align: center;
}

#section-2{
    margin-bottom: 100px;
}
