<main>
    <section id="section-1">
        <div class="container">
            <div class="intro-info">
                <p><a [routerLink]="['../']">Главная</a> <i class='bx bx-circle'></i><a class="katalog-title"
                        [routerLink]="'./'">О нас</a></p>
            </div>
            <h3 class="main-title">ОПТОВЫЙ Интернет-магазин садового ЦЕНТРА "МИР УВЛЕЧЕНИЙ"</h3>
            <div class="section-1_wrapper">
                <div class="flexbox-1">
                    <img class="landscape-flower-img" src="./../../../assets/Images/landscape.png" alt="landscape">

                    <div>
                        <p>«Мир увлечений» — это круглосуточный познавательно-развлекательный телеканал для семейного просмотра. В эфире
                        представлены проекты, которые не оставят равнодушным ни одного члена семьи. Канал станет своеобразным уникальным гидом
                        по миру разносторонних увлечений и хобби. Ландшафт и рыбалка, охота и дачные премудрости, мир моторов и приготовление
                        любимых блюд, путешествия и флористика, современные технологии и тайные уголки мира, дом и семья, братья наши меньшие и
                        образ жизни. Это далеко не полный перечень тем, которые поднимаются в программах телеканала «Мир увлечений».
                        <br><br>
                        Телеканал «Мир увлечений» познакомит своих зрителей с самыми интересными и неординарными воплощениями увлеченных натур.
                        <br><br>
                        Программы телеканала помогут телезрителям определиться с выбором и найти увлечение по душе. Добро пожаловать на
                        телеканал «Мир увлечений»!
                        <br><br>
                        Прекратил вещание 2 марта 2020 года в связи с ребрендингом в #КтоКуда.</p>
                    </div>
                </div>

                <div class="flexbox-2">
                    <div class="mini-flexbox-1">
                        <div class="mini-title-1">
                            <h4>Садовый центр</h4>
                            
                            <p>ООО "МИР УВЛЕЧУНИЙ"<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>

                        <div class="mini-title-2">
                            <h4>Интернет-магазин:</h4>
                            <p>ООО "БЕСТГАРДЕН"<br>
                            Lorem ipsum dolor sit, amet consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>

                    <div>
                        <img class="landscape-flower-img-2" src="./../../../assets/Images/landscape.png" alt="landscape">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-2">
        <div class="container">
            <div class="section-2_wrapper">
                <h3 class="main-title-4">Почему стоит заказать товары у нас?</h3>
                <div class="section-2-flexbox-1">
                    <div class="mini-box-1">
                        <div class="card-img">
                            <img class="landscape-round" src="./../../../assets/Images/landscape.png" alt="landscape">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                        </div>

                        <div class="card-title">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non hic consequatur quam!</p>
                        </div>
                    </div>

                    <div class="mini-box-1">
                        <div class="card-img">
                            <img class="landscape-round" src="./../../../assets/Images/landscape.png" alt="landscape">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                        </div>
                    
                        <div class="card-title">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non hic consequatur quam!</p>
                        </div>
                    </div>

                    <div class="mini-box-1">
                        <div class="card-img">
                            <img class="landscape-round" src="./../../../assets/Images/landscape.png" alt="landscape">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                        </div>
                    
                        <div class="card-title">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non hic consequatur quam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>