<main>
    <!-- SECTION-1 STARTED -->
    <section id="section-1">
        <div class="container">
            <div class="section-1__wrapper">
                <div class="intro-info">
                    <p><a [routerLink]="['../']" routerLinkActive="router-link-active" >Главная</a> <i class='bx bx-circle'></i> <a class="katalog-title" href="#">Каталоги</a></p>
                </div>

                <div class="katalog-info">
                    <h3>Каталоги товаров</h3>

                        <div class="katalog-card-wrapper">
                            @for(catalog of catalogs; track catalog.id) {
                                <app-catalog-card [data]="catalog"></app-catalog-card>
                            }
                        </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION-1 ENDED -->
</main>