<main>
    <section id="section-1">
        <div class="container">
            <div class="intro-info">
                <p><a [routerLink]="['../']" routerLinkActive="router-link-active" >Главная</a> <i class='bx bx-circle'></i><a class="katalog-title"
                        [routerLink]="'./'">Новости</a></p>
            </div>
            <h3 class="main-title">Новости магазина</h3>
            <div class="section-1_wrapper">

                <div class="flexbox-1">
                    <div class="flexbox-1-img">
                        <img class="landscape-img" [src]="'./../../../assets/Images/landscape.png'|imageUrl" alt="landscape">
                    </div>

                    <div class="flexbox-1-title">
                        <h4>Новое поступление лилий! Более 45 сортов</h4>
                        <small>20.01.2021</small>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ullam sed quidem numquam
                            veritatis eveniet voluptatum possimus et cumque molestias.</p>

                        <a href="./../novoe-postupleniy/index.html"><button>Читать полностью</button></a>
                    </div>
                </div>

                <div class="flexbox-1">
                    <div class="flexbox-1-img">
                        <img class="landscape-img" src="./../../../assets/Images/landscape.png" alt="landscape">
                    </div>

                    <div class="flexbox-1-title">
                        <h4>Новое поступление садого инвентаря премиум класса!</h4>
                        <small>19.01.2021</small>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ullam sed quidem numquam
                            veritatis eveniet
                            voluptatum possimus et cumque molestias.</p>

                        <button>Читать полностью</button>
                    </div>
                </div>

                <div class="flexbox-2">
                    <div class="flexbox-1-img">
                        <img class="landscape-img" [src]="'./../../../assets/Images/landscape.png' | imageUrl" alt="landscape">
                    </div>

                    <div class="flexbox-1-title">
                        <h4>ОКС или ЗКС,что выбрать?</h4>
                        <small>15.01.2021</small>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ullam sed quidem numquam
                            veritatis eveniet
                            voluptatum possimus et cumque molestias.</p>

                        <button>Читать полностью</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>