<main>
    <section id="section-1">
        <div class="container">
            <div class="intro-info">
                <p><a href="./../../../index.html">Главная</a> <i class='bx bx-circle'></i><a class="katalog-title" href="#">Контакты</a></p>
            </div>
            <h3 class="main-title">КОНТАКТЫ для оптовых покупателей</h3>
            <div class="section-1_wrapper">
                <div class="flexbox-1">
                    <div class="flexbox-1-number">
                        <h3>Call-центр:</h3>
                        <h4>+7 (495) 734-80-88</h4>
                    </div>

                    <div class="flexbox-1-rabota">
                        <h3>Время работа call-центра:</h3>
                        <p>понедельник-пятница с 09:00 до 18:00<br>
                            суббота,воскресение - выходные.
                        </p>
                    </div>
                </div>

                <div class="flexbox-1">
                    <div class="flexbox-1-number">
                        <h3>Интернет-магазин:</h3>
                        <p>принимает заказы круглодично<br>
                            в автоматическом режиме
                        </p>
                    </div>
                
                    <div class="flexbox-1-rabota">
                        <h3>Розничный сайт:</h3>
                        <div class="shop">
                            <i class='bx bxs-store-alt'></i>
                            <h5>bestgarden.ru</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-1_wrapper-2">
                <div class="card-1">

                    <div class="adres-title">
                        <h3>Адреса магазинов:</h3>
                        
                        <h4>Садовый центр<br>в Медведкого:</h4>
                        
                        <p><b>Адрес: </b>г.Москва,ул. Широкая,27</p>
                        
                        <p><b>Время работы: </b>Lorem ipsum dolor, sit amet <br>consectetur adipisicing elit. Corporis cumque quibusdam neque?</p>
                    </div>
                    
                    <div class="location-map">
                        <h3>Как добряться:</h3>
                        
                        <p>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Iure cupiditate aperiam porro.</p>
                        
                        <iframe class="najot-location"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.0728840438564!2d69.20123767643584!3d41.28551820230713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba578f4f58d%3A0xd7a2ecf23413b7a0!2sNajot%20Ta&#39;lim%20Chilonzor%20Filial!5e0!3m2!1suz!2s!4v1705491870283!5m2!1suz!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                    <div>
                        <img class="landscape-img-1" src="./../../../assets/Images/landscape.png" alt="landscape-img">
                    </div>
                </div>

                <div class="card-2">
                
                    <div class="adres-title-2">
                        <h4>Садовый центр<br>в Медведкого:</h4>
                
                        <p><b>Адрес: </b>г.Москва,ул. Широкая,27</p>
                
                        <p><b>Время работы: </b>Lorem ipsum dolor, sit amet <br>consectetur adipisicing elit. Corporis cumque quibusdam
                            neque?</p>
                    </div>
                
                    <div class="location-map-2">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos deleniti sint aperiam iste repellat voluptatum delectus quae facilis neque porro, dolorum quaerat ullam consequatur eaque similique, fuga modi officia minus iure quod!</p>
                
                        <iframe class="najot-location"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.0728840438564!2d69.20123767643584!3d41.28551820230713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba578f4f58d%3A0xd7a2ecf23413b7a0!2sNajot%20Ta&#39;lim%20Chilonzor%20Filial!5e0!3m2!1suz!2s!4v1705491870283!5m2!1suz!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                
                    <div>
                        <img class="landscape-img-1" src="./../../../assets/Images/landscape.png" alt="landscape-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>