<section id="section-6">
    <div class="container">
        <div class="section-6__wrapper">
            <h3>ЕСТЬ ВОПРОС? МЫ С РАДОСТЬЮ НА НЕГО ОТВЕТИМ!</h3>
            <p><b>Контакты техподдержки: </b> +7 (495) 734-80-88</p>
        </div>

        <div class="registration">
            <div class="registr-flex">
                <div class="name-input">
                    <p>Введите ваше имя</p>
                    <input type="text" required>
                </div>

                <div class="email-input">
                    <p>Введите вашу почту</p>
                    <input type="email" required>
                </div>
            </div>

            <div class="text-area-input">
                <textarea name="" id="" cols="120" rows="10" placeholder="Введите ваш вопрос"></textarea>
            </div>

            <div class="submit">
                <div class="check">
                    <input type="checkbox" required>
                    <p>Я принимаю Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores,</p>
                </div>

            </div>

            <button class="otravit-btn">Отправить вопрос</button>
        </div>
    </div>
</section>