<main>
    <section id="section-1">
        <div class="container">
            <div class="section-1__wrapper">
                <div class="section-1__wrapper-text">
                    <h1>У нас есть всё,<br>что нужно<br> для сада<br> и огорода</h1>
                    <a href="./Pages/Ikkinchi-page/katalog/index.html"><button class="katalog-btn">Смотреть каталоги</button></a>
                </div>

                <div class="section-1__wrapper-img">
                    <img class="landscape" [src]="landscape" alt="landscape">
                </div>
            </div>

            <div class="section-1__wrapper-2">
                <div class="y1996">
                    <h3>
                        Работаем с 1996 года
                    </h3>

                    <p>О нас <i class='bx bx-right-arrow-alt'></i></p>
                </div>

                <div class="lorem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, expedita tenetur earum
                        suscipit neque magnam voluptates quis ratione debitis animi architecto eius hic maxime,
                        repellendus aperiam! Quod magni doloremque dolore. Dicta, nam! Aliquam ex nisi, architecto
                        vitae fuga asperiores, rerum, enim maiores corporis voluptate numquam aliquid cupiditate
                        sint earum iste laudantium? Iusto nobis blanditiis incidunt quibusdam dicta ad, accusamus
                        id?</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-2">
        <div class="container">
            <div class="section-2__wrapper">

                <h3>Новинки сезона</h3>

                <div class="section-2__wrapper-card-wrapper">

                    <div class="card">
                        <img class="card-landscape" [src]="landscape" alt="landscape">

                        <div class="card-1-title">
                            <p><a target="_blank" href="./Pages/Ikkinchi-page/information-about-tovar/">Спирея Широбана япоская</a></p>
                            <i class='bx bx-info-circle'></i>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-landscape" [src]="landscape" alt="landscape">

                        <div class="card-1-title">
                            <p>Кувшинка (Нимфея) Гладстониана</p>
                            <i class='bx bx-info-circle'></i>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-landscape" [src]="landscape" alt="landscape">

                        <div class="card-1-title">
                            <p>Калло Манго</p>
                            <i class='bx bx-info-circle'></i>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-landscape" [src]="landscape" alt="landscape">

                        <div class="card-1-title">
                            <p>Спирея Широбана япоская </p>
                            <i class='bx bx-info-circle'></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="section-3">
        <div class="container">
            <div class="section-3__wrapper">
                <h3>каталоги</h3>
                <div class="katalog-card-wrapper">
                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Водные растения 2021</h4>
                            <p>26 товаров</p>
                        </div>
                    </div>

                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Розы пакетирование 2021</h4>
                            <p>345 товаров</p>
                        </div>
                    </div>

                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Луковичные 2021</h4>
                            <p>785 товаров</p>
                        </div>
                    </div>
                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Саженцы 2021</h4>
                            <p>479 товаров</p>
                        </div>
                    </div>

                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Саженцы ЗКС</h4>
                            <p>142 товаров</p>
                        </div>
                    </div>

                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Средства зашиты </h4>
                            <p>0 товаров</p>
                        </div>
                    </div>

                    <div class="katalog-card">
                        <div class="katalog-card-landscape-img">
                            <img [src]="landscape" alt="landscape">
                        </div>

                        <div class="katalog-card-title">
                            <h4>Грунты</h4>
                            <p>0 товаров</p>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </section>

    <section id="section-4">
        <div class="container">
            <div class="section-4__wrapper">
                <h3>НОВОСТИ</h3>

                <div class="news-card_wrapper">
                    <div class="news-card">
                        <img class="news-card-landscape" [src]="landscape" alt="landscape">

                        <div class="news-card-title">
                            <h4>Новое поступление линий! Более 45 сортов!</h4>

                            <small>20.01.2021</small>

                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores eaque nam
                                doloremque delectus expedita eum.</p>
                        </div>
                    </div>

                    <div class="news-card">
                        <img class="news-card-landscape" src="../../../assets/landscape.png" alt="landscape">

                        <div class="news-card-title">
                            <h4>Новое поступление садового инвентаря премиум класса!</h4>

                            <small>19.01.2021</small>

                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores eaque nam
                                doloremque delectus expedita eum.
                            </p>
                        </div>
                    </div>

                    <div class="news-card">
                        <img class="news-card-landscape" [src]="landscape" alt="landscape">

                        <div class="news-card-title">
                            <h4>ОКС или ЗКС,что выбрать?</h4>

                            <small>15.01.2021</small>

                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores eaque nam
                                doloremque delectus expedita eum.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="section-5">
        <div class="container">
            <div class="section-5__wrapper">
                <div class="section-5_first-div">
                    <h3>ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ!</h3>

                    <p>Узнавайте об акциях и новых поступлениях первыми</p>

                    <div class="email-box">
                        <input type="text" placeholder="Ведите вашу почту">

                        <div class="follow">
                            <h4>Подписаться</h4>
                        </div>
                    </div>
                </div>

                <div class="section-5_second-div">
                    <h3>ВОПРОСЫ И ОТВЕТЫ</h3>

                    <div class="faq">
                        <p>В какие регионы вы доставляте заказы?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>

                    <div class="faq">
                        <p>Какие условия доставки в вашем магазине?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>

                    <div class="faq">
                        <p>Как узнать,что с моим заказом?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>

                    <div class="faq">
                        <p>Есть ли у вас сезонные акции и расспродажи?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>

                    <div class="faq">
                        <p>Как я могу оплатить товарь?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>

                    <div class="faq-2">
                        <p>Какие гарантии на товар вы предстовляете?</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-6">
        <div class="container">
            <div class="section-6__wrapper">
                <h3>ЕСТЬ ВОПРОС? МЫ С РАДОСТЬЮ НА НЕГО ОТВЕТИМ!</h3>
                <p><b>Контакты техподдержки: </b> +7 (495) 734-80-88</p>
            </div>

            <div class="registration">
                <div class="registr-flex">
                    <div class="name-input">
                        <p>Введите ваше имя</p>
                        <input type="text" required>
                    </div>

                    <div class="email-input">
                        <p>Введите вашу почту</p>
                        <input type="email" required>
                    </div>
                </div>

                <div class="text-area-input">
                    <textarea name="" id="" cols="120" rows="10" placeholder="Введите ваш вопрос"></textarea>
                </div>

                <div class="submit">
                    <div class="prikrepit">
                        <i class='bx bxs-file'></i>
                        <h3>Прикрепить файл</h3>
                    </div>

                    <div class="check">
                        <input type="checkbox" required>
                        <p>Я принимаю Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores,</p>
                    </div>

                </div>

                <button class="otravit-btn">Отправить вопрос</button>
            </div>
        </div>
    </section>
</main>