<footer>
    <div class="container">
        <div class="footer-wrapper">
            <ul class="birinchi-ul">
                <li><a href="#" class="main-logo"><img src="../../../assets/logo.png" alt="logo"></a></li>
                <li><a href="#">Интернет-магазин ООО "БЕСТГАРДЕН"</a></li>
                <li><a href="#">Юридечиский адрес 127224,Москва,Lorem ipsum dolor sit amet.</a></li>
            </ul>

            <ul class="ikkinchi-ul">
                <li>КАТАЛОГИ</li>
                <!-- for loopda aylanadi -->
                @for (item of catalogs; track item.id) {
                    <li><a [routerLink]="['/catalog/'+item.id]" routerLinkActive="router-link-active" >{{item.name}}</a></li>
                }
            </ul>

            <ul class="uchinchi-ul">
                <li>ИНФОРМАЦИЯ</li>
                <li><a [routerLink]="['./about']">О магазине</a></li>
                <li><a [routerLink]="['./delivery-and-payment']">Доставка и оплата</a></li>
                <li><a href="#">Скидки</a></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a [routerLink]="['./news']">Новости</a></li>
            </ul>

            <ul class="tortinchi-ul">
                <li>КОНТАКТЫ</li>
                <li><a href="#">
                        <b>Адрес:</b><br>
                        г.Москва,ул 2-я Хуторская,д.38
                    </a></li>
                <li><a href="#">
                        <b>Call-center:</b><br>
                        8(495) 734-80-88</a>
                </li>
                <li><a href="#">
                        <b>Задать вопрос:</b><br>
                        8(495) 212-85-06</a></li>
                <li class="forma-obratnoy"><a [routerLink]="['./support']" target="_blank">Форма обратной связи</a></li>
            </ul>

            <ul class="beshinchi-ul">
                <li><a href="#"><i class='bx bxl-telegram'></i></a></li>
                <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram-alt'></i></a></li>
            </ul>


        </div>

    </div>

    <div class="footer-wrapper-2">
        <p>2021,Все права зашишены <small>| Политика обработки персоналных данных</small></p>
    </div>
</footer>