<header>
    <div class="container">
        <nav>
            <ul class="header-top">
                <li><a href="#" class="main-logo"><img src="../../../assets/logo.png" alt="logo"></a></li>
                <li class="birinchi-li">
                    <div class="search-input">
                        <input type="text" placeholder="Название или артикул">
                        <i class='bx bx-search search-icon'></i>
                    </div>

                </li>

                <li class="ikkinchi-li">
                    <i class='bx bx-user-circle'></i>
                    <p>Вход | Регистрация</p>
                </li>

                <li class="uchinchi-li">
                    <div>
                        <i class='bx bx-phone'></i>
                    </div>

                    <div>
                        <h4>+7(495) 734-80-88</h4>
                        <p>Пн-Пт 09:00-18:00</p>
                    </div>
                </li>
            </ul>

            <ul class="header-bottom">
                <li><a [routerLink]="['./catalogs']">Каталоги</a></li>
                <li><a [routerLink]="['./about']">О нас</a></li>
                <li><a [routerLink]="['./delivery-and-payment']" routerLinkActive="router-link-active">Доставка и
                        оплата</a></li>
                <li><a [routerLink]="['/support']" target="_blank">Задать вопрос</a></li>
                <li><a href="./Pages/Tortinchi-page/skidki-bonus/index.html">Скидки</a></li>
                <li><a [routerLink]="['./news']">Новости</a></li>
                <li><a [routerLink]="['./contacts']">Контакты</a></li>
                <li><a href="./Pages/Extra-task/korzinka/index.html"><i class='bx bx-cart-add'></i></a></li>
                <li class="question-mark"><a target="_blank"
                        href="./Pages/Birinchi-page/status-zakaz-1/index.html"><button><i
                                class='bx bx-question-mark'></i>Узнать статус
                            заказа</button></a></li>
            </ul>
        </nav>
    </div>
</header>